In [2]:
import pandas as pd

### Unemployment

In [29]:
une = pd.read_excel('unemployment.xlsx', sheet_name= 'Sheet 1', skiprows = 10)
ds = pd.concat([une['TIME'],une.filter(like = '2019').mean(axis =1), une.filter(like = '2020').mean(axis =1)], axis =1)
ds['change'] = ds[1] - ds[0]
ds

C:\Users\Mohamed\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\Mohamed\AppData\Local\Temp/ipykernel_6608/1653726200.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ds = pd.concat([une['TIME'],une.filter(like = '2019').mean(axis =1), une.filter(like = '2020').mean(axis =1)], axis =1)

,TIME,0,1,change
0,GEO (Labels),NaN,NaN,NaN
1,European Union - 27 countries (from 2020),6.783333,7.088889,0.305556
2,Euro area - 19 countries (from 2015),7.558333,7.822222,0.263889
3,Belgium,5.366667,5.455556,0.088889
4,Bulgaria,4.300000,5.144444,0.844444
5,Czechia,2.025000,2.366667,0.341667
6,Denmark,5.050000,5.555556,0.505556
7,Germany (until 1990 former territory of the FRG),3.166667,3.788889,0.622222
8,Estonia,4.525000,6.566667,2.041667
9,Ireland,4.983333,5.688889,0.705556
10,Greece,17.300000,16.555556,-0.744444
11,Spain,14.108333,15.322222,1.213889
12,France,8.433333,8.011111,-0.422222
13,Croatia,6.691667,7.677778,0.986111
14,Italy,9.991667,9.144444,-0.847222
15,Cyprus,7.041667,7.377778,0.336111
16,Latvia,6.308333,8.122222,1.813889
17,Lithuania,6.275000,8.311111,2.036111
18,Luxembourg,5.575000,6.766667,1.191667
19,Hungary,3.333333,4.077778,0.744444
20,Malta,3.625000,4.333333,0.708333
21,Netherlands,4.425000,4.788889,0.363889
22,Austria,4.816667,6.022222,1.205556
23,Poland,3.283333,3.155556,-0.127778
24,Portugal,6.666667,7.111111,0.444444
25,Romania,4.908333,5.955556,1.047222
26,Slovenia,4.458333,4.911111,0.452778
27,Slovakia,5.741667,6.566667,0.825000
28,Finland,6.741667,7.633333,0.891667
29,Sweden,6.775000,8.200000,1.425000
30,United Kingdom,3.741667,4.155556,0.413889
31,Iceland,3.916667,5.733333,1.816667
32,Norway,3.716667,4.477778,0.761111
33,Switzerland,4.400000,4.700000,0.300000
34,Turkey,13.716667,13.233333,-0.483333
35,United States,3.683333,8.555556,4.872222
36,Japan,2.358333,2.711111,0.352778
37,NaN,NaN,NaN,NaN
38,Special value,NaN,NaN,NaN
39,:,NaN,NaN,NaN
40,Available flags:,NaN,NaN,NaN
41,b,NaN,NaN,NaN
42,d,NaN,NaN,NaN
43,p,NaN,NaN,NaN

### GDP

In [52]:
gdp = pd.read_excel('GDP.xlsx', sheet_name= 'Sheet 1', skiprows = 9)
gdp
ds = pd.concat([gdp['TIME'],gdp.filter(like = '2019').replace(':', 0).mean(axis =1), gdp.filter(like = '2020').replace(':', 0).mean(axis =1)], axis =1)
ds['change'] = ds[1] - ds[0]
ds

C:\Users\Mohamed\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,TIME,0,1,change
0,GEO (Labels),NaN,NaN,NaN
1,European Union - 27 countries (from 2020),0.325,-7.250000e-01,-1.050
2,Euro area - 19 countries (from 2015),0.275,-7.250000e-01,-1.000
3,Belgium,0.525,-7.250000e-01,-1.250
4,Bulgaria,0.775,-6.500000e-01,-1.425
5,Czechia,0.700,-1.200000e+00,-1.900
6,Denmark,0.425,-8.326673e-17,-0.425
7,Germany (until 1990 former territory of the FRG),0.225,-5.250000e-01,-0.750
8,Estonia,0.775,-2.500000e-01,-1.025
9,Ireland,1.300,1.300000e+00,0.000
10,Greece,0.375,-1.575000e+00,-1.950
11,Spain,0.450,-1.525000e+00,-1.975
12,France,0.250,-4.500000e-01,-0.700
13,Croatia,0.725,-1.600000e+00,-2.325
14,Italy,-0.025,-1.150000e+00,-1.125
15,Cyprus,0.950,-8.000000e-01,-1.750
16,Latvia,0.225,-3.250000e-01,-0.550
17,Lithuania,1.025,5.000000e-02,-0.975
18,Luxembourg,0.625,2.750000e-01,-0.350
19,Hungary,0.975,-4.250000e-01,-1.400
20,Malta,1.475,-1.725000e+00,-3.200
21,Netherlands,0.475,-6.250000e-01,-1.100
22,Austria,0.100,-1.250000e+00,-1.350
23,Poland,1.025,-4.500000e-01,-1.475
24,Portugal,0.700,-1.150000e+00,-1.850
25,Romania,0.900,-3.500000e-01,-1.250
26,Slovenia,0.725,-5.750000e-01,-1.300
27,Slovakia,0.475,-4.000000e-01,-0.875
28,Finland,0.275,-3.250000e-01,-0.600
29,Sweden,0.350,-3.750000e-01,-0.725
30,Norway,0.375,-2.250000e-01,-0.600
31,Switzerland,0.400,-3.750000e-01,-0.775
32,United Kingdom,0.300,-1.450000e+00,-1.750
33,Montenegro,0.000,0.000000e+00,0.000
34,North Macedonia,0.500,8.326673e-17,-0.500
35,Albania,0.000,0.000000e+00,0.000
36,Serbia,1.650,-5.000000e-02,-1.700
37,Turkey,1.450,1.800000e+00,0.350
38,Bosnia and Herzegovina,0.000,0.000000e+00,0.000
39,Kosovo (under United Nations Security Council ...,0.000,0.000000e+00,0.000
40,NaN,NaN,NaN,NaN
41,Special value,NaN,NaN,NaN
42,:,NaN,NaN,NaN
43,Available flags:,NaN,NaN,NaN
44,b,NaN,NaN,NaN
45,e,NaN,NaN,NaN
46,p,NaN,NaN,NaN

### NEET

In [61]:
neet = pd.read_excel('NEET.xlsx', sheet_name= 'Sheet 1', skiprows = 10)
neet
ds = pd.concat([neet['TIME'], neet.filter(like = '2019').replace(':', 0).mean(axis =1), neet.filter(like = '2020').replace(':', 0).mean(axis =1)], axis =1)
ds['change'] = ds[1] - ds[0]
ds

C:\Users\Mohamed\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                                                TIME       0       1  change
0                                       GEO (Labels)     NaN     NaN     NaN
1          European Union - 27 countries (from 2020)  12.500  13.575   1.075
2              Euro area - 19 countries  (from 2015)  12.600  13.775   1.175
3                                            Belgium  11.825  12.025   0.200
4                                           Bulgaria  17.200  18.675   1.475
5                                            Czechia   9.800  10.975   1.175
6                                            Denmark   9.575  10.125   0.550
7   Germany (until 1990 former territory of the FRG)   7.625   8.500   0.875
8                                            Estonia   9.775  11.225   1.450
9                                            Ireland  11.425  14.150   2.725
10                                            Greece  17.550  18.525   0.975
11                                             Spain  14.925  17.250   2.325
12                                            France  12.375  13.400   1.025
13                                           Croatia  14.300  14.675   0.375
14                                             Italy  22.225  23.300   1.075
15                                            Cyprus  14.050  15.225   1.175
16                                            Latvia  10.450  12.000   1.550
17                                         Lithuania  10.925  13.050   2.125
18                                        Luxembourg   6.450   7.675   1.225
19                                           Hungary  11.025  12.325   1.300
20                                             Malta   7.850   9.475   1.625
21                                       Netherlands   5.675   5.675   0.000
22                                           Austria   8.650   9.925   1.275
23                                            Poland  12.075  12.875   0.800
24                                          Portugal   9.175  11.025   1.850
25                                           Romania  16.775  16.600  -0.175
26                                          Slovenia   8.800   9.275   0.475
27                                          Slovakia  14.475  15.200   0.725
28                                           Finland   9.500  10.250   0.750
29                                            Sweden   6.275   7.225   0.950
30                                           Iceland   5.625   7.075   1.450
31                                            Norway   6.350   6.625   0.275
32                                       Switzerland   6.250   6.400   0.150
33                                        Montenegro  21.700  26.300   4.600
34                                   North Macedonia  24.500  26.250   1.750
35                                            Serbia  18.950  19.950   1.000
36                                            Turkey  29.475  31.950   2.475
37                                               NaN     NaN     NaN     NaN
38                                     Special value     NaN     NaN     NaN
39                                                 :     NaN     NaN     NaN
40                                  Available flags:     NaN     NaN     NaN
41                                                pu     NaN     NaN     NaN
42                                                 b     NaN     NaN     NaN
43                                                 d     NaN     NaN     NaN
44                                               bpu     NaN     NaN     NaN

### Employment

In [6]:
emp = pd.read_excel('Employment.xlsx', sheet_name= 'Sheet 1', skiprows = 11)
ds = pd.concat([emp['TIME'], emp.filter(like = '2019').replace(':', 0).mean(axis =1), emp.filter(like = '2020').replace(':', 0).mean(axis =1)], axis =1)
ds['change'] = ds[1] - ds[0]
ds

C:\Users\Mohamed\miniconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                                                TIME       0       1  change
0                                       GEO (Labels)     NaN     NaN     NaN
1          European Union - 27 countries (from 2020)  73.175  72.425  -0.750
2              Euro area - 19 countries  (from 2015)  72.650  71.725  -0.925
3                                            Belgium  70.500  70.025  -0.475
4                                           Bulgaria  74.575  73.175  -1.400
5                                            Czechia  80.300  79.700  -0.600
6                                            Denmark  78.250  77.875  -0.375
7   Germany (until 1990 former territory of the FRG)  80.625  80.075  -0.550
8                                            Estonia  80.175  78.800  -1.375
9                                            Ireland  75.125  73.325  -1.800
10                                            Greece  60.750  58.275  -2.475
11                                             Spain  68.025  65.700  -2.325
12                                            France  72.300  72.100  -0.200
13                                           Croatia  66.750  66.825   0.075
14                                             Italy  63.525  62.525  -1.000
15                                            Cyprus  75.725  74.925  -0.800
16                                            Latvia  77.275  76.900  -0.375
17                                         Lithuania  78.250  76.675  -1.575
18                                        Luxembourg  72.775  72.125  -0.650
19                                           Hungary  77.550  77.475  -0.075
20                                             Malta  76.775  77.300   0.525
21                                       Netherlands  80.150  79.950  -0.200
22                                           Austria  76.775  74.800  -1.975
23                                            Poland  73.000  73.575   0.575
24                                          Portugal  75.500  74.150  -1.350
25                                           Romania  70.925  70.775  -0.150
26                                          Slovenia  76.450  75.625  -0.825
27                                          Slovakia  73.325  72.550  -0.775
28                                           Finland  77.175  76.475  -0.700
29                                            Sweden  82.125  80.800  -1.325
30                                           Iceland  85.875  82.250  -3.625
31                                            Norway  79.450  78.825  -0.625
32                                       Switzerland  82.925  82.450  -0.475
33                                        Montenegro  60.850  55.250  -5.600
34                                   North Macedonia  59.225  59.075  -0.150
35                                            Serbia  65.100  65.825   0.725
36                                            Turkey  53.750  51.050  -2.700
37                                               NaN     NaN     NaN     NaN
38                                     Special value     NaN     NaN     NaN
39                                                 :     NaN     NaN     NaN
40                                  Available flags:     NaN     NaN     NaN
41                                                pu     NaN     NaN     NaN
42                                                 b     NaN     NaN     NaN
43                                                 d     NaN     NaN     NaN
44                                               bpu     NaN     NaN     NaN